

.hero-unit {
    margin: 50px auto 0 auto;
    max-width: 800px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}


.main,   .footer {
    text-align: center;
}

.profil img{
    float: left;
}

.infos {

}

.about{
    padding: 15px;
}

.infos ul {
    list-style: none;
}

.infos li span {
    font-weight: bold;
}

.actions {
    padding-top: 20px;
}

.my-form {
    transition:0.5s linear all;
}
.my-form.ng-invalid:after{
    content: "Veuillez saisir les champs obligatoires";
    color: red;
}

.userAction{
    margin-left: 15px;
    cursor: pointer;
}
